[submodule "backend"]
	path = backend
	url = https://github.com/lyquangthai1993/logistics-website-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/lyquangthai1993/logistics-website-frontend
